:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --bg-color: #f8f9fa;
  --text-color: #333333;
  --button-bg: #ffffff;
  --border-color: #dee2e6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  transition:
    background-color 0.3s,
    color 0.3s,
    border-color 0.3s;
}

body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition:
    background-color 0.3s,
    color 0.3s;
}

body.dark {
  background-color: #464c53;
  color: #d6afaf;
}

.app.dark {
  --bg-color: #1e1e1e;
  --text-color: #e0e0e0;
  --button-bg: #2c2c2c;
  --border-color: #444444;
}

button {
  border-radius: 8px;
  border: 1px solid var(--border-color);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg);
  color: var(--text-color);
  cursor: pointer;
  transition:
    border-color 0.25s,
    background-color 0.25s,
    color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1e1e1e;
    --text-color: #e0e0e0;
    --button-bg: #2c2c2c;
    --border-color: #444444;
  }
}
#root {
  max-width: 90%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.search-container {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.split-view {
  display: flex;
  height: calc(100vh - 120px);
}

.main-content {
  padding: 20px;
  overflow-y: auto;
}

.details-panel {
  padding: 20px;
}
.details-img {
  width: 100%;
  min-width: 400px;
  margin: 0 auto;
}
.flyout {
  position: fixed;
  bottom: 75px;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);

  .flyout-buttons {
    display: flex;
    gap: 1rem;

    button {
      padding: 0.5rem 1rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      cursor: pointer;
      background-color: var(--button-bg);
      color: var(--text-color);
      border: 1px solid var(--border-color);

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}
.details-section {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  padding: 1rem;
  border-left: 1px solid #ccc;
  background-color: #fff;
  overflow-y: auto;
  z-index: 1000;
  & .details-img {
    width: 50%;
    height: 100%;
    object-fit: cover;
  }
}
:root {
  --loaderColor: red;
}

.loader {
  display: flex;
  justify-content: center;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  background: var(--loaderColor);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--loaderColor);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.main-content {
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
}
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.search-bar input {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s;
  background-color: var(--bg-color);
  color: var(--text-color);
  border-color: var(--text-color);
  &:focus {
    border-color: #007bff;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  position: fixed;
  background-color: #fff;
  padding: 1rem;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}

.pagination button {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  background-color: var(--button-bg);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  &:disabled {
    opacity: 0.5;
  }
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination span {
  margin: 0 0.5rem;
}
.Results-content h2 {
  margin: 0;
  padding: 0;
  text-align: center;
}
.results-container {
  display: flex;
  margin: 20px;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.results-table {
  width: 100%;
  border-collapse: collapse;
}

.results-table th,
.results-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.results-table th {
  background-color: #726767;
  text-align: center;
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.results-table-body {
  cursor: pointer;
}
.form-check-input {
  width: 2rem;
  cursor: pointer;
  height: 2rem;
}
.search-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;

  .input-field {
    width: 80%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
    transition: border-color 0.3s;
    background-color: var(--bg-color);
    color: var(--text-color);
    border-color: var(--text-color);
    &:focus {
      border-color: #007bff;
    }
  }
}
.theme-switcher {
  display: flex;
  justify-content: flex-end;
  padding-top: 30px;

  label {
    display: flex;
    align-items: center;
    cursor: pointer;
    /* color: var(--text-color); */
  }

  input {
    margin-right: 5px;
  }
}
