.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.pagination button {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination span {
  margin: 0 0.5rem;
}
