#root {
  max-width: 90%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.search-container {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.split-view {
  display: flex;
  height: calc(100vh - 120px);
}

.main-content {
  padding: 20px;
  overflow-y: auto;
}

.details-panel {
  padding: 20px;
}
.details-img {
  width: 100%;
  min-width: 400px;
  margin: 0 auto;
}
