#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container {
  width: 80rem;
}
.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-section {
  width: 50%;
  padding: 1rem;
  border-left: 1px solid #ccc;
}
